@charset "utf-8";
a:link {
	text-decoration: none;
	color: #357591;
}
a:visited {
	color: #000000;
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
}

.txt_blue {
	color: #357591;
	font-weight: bold;
}

.txt_date {
	width: 30%;
	text-align: center;
}
.txt_label {
	font-size: 12px;
	color: #357591;
	padding-top: 10px;
	padding-bottom: 10px;
}
.txt_logged {
	text-align: left;
	width: 35%;
}

.txt_note {
	font-size: 10px;
	color: #333333;
	padding-top: 5px;
	text-align: center;
	padding-bottom: 10px;
}

/* CSS Document */

.txt_orange {
	font-weight: bold;
	color: #FFCC00;
}
.txt_white {
	color: #FFFFFF;
	text-decoration: none;
}
.txt_grey {
	color: #000000;
}
